<mat-toolbar>
  <button mat-button routerLink="/info">Info</button>
  <button mat-button class="second">Video</button>
  <button mat-button class="third" color="primary" routerLink="/blog">Blogs</button>
</mat-toolbar>
  
<div class="wrapper">
  <mat-card class="example-card">
    <!-- video: class="vid" height="455" -->
    <iframe class="vid" height="455" src="https://www.youtube.com/embed/hHW1oY26kxQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </mat-card>
  
  <mat-grid-list class="grid-list" cols="3" rowHeight="3:1">
    <mat-grid-tile class="grid-tile">
      <div>
        <h2>Höhe</h2>
        <!-- <p></p> -->
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile">
      <div>
        <h2>Luftfeuchtigkeit</h2>
        <!-- <p></p> -->
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile">
      <div>
        <h2>Temperatur Innen</h2>
        <!-- <p></p> -->
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile">
      <div>
        <h2>Geschwindigkeit</h2>
        <!-- <p></p> -->
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile">
      <div>
        <h2>Luftdruck</h2>
        <!-- <p></p> -->
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile">
      <div>
        <h2>Temperatur Aussen</h2>
        <!-- <p></p> -->
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>