mat-toolbar {
    margin-bottom: 40px;
}

.second {
    position: absolute;
    left: 50%;
}

.third {
    position: absolute;
    right: 2%;
}

.example-card {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background: rgb(83, 83, 83);

    display: flex;
    flex-direction: row;
}

.vid {
    width: 100%;
    margin-right: 20px;
}

.chat {
    width: 100%;
    max-width: 300px;
}