mat-toolbar {
    margin-bottom: 20px;
}

.second {
    position: absolute;
    left: 50%;
}

.third {
    position: absolute;
    right: 2%;
}

.example-card {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    background: rgb(83, 83, 83);
}

.vid {
    width: 100%;
}

.grid-list {
    margin: 20px;
}

.grid-tile {
    border: 5px solid white;
}