<mat-toolbar>
  <button mat-button routerLink="/info">Info</button>
  <button mat-button class="second" color="primary">Video</button>
  <button mat-button class="third" routerLink="/blog">Blogs</button>
</mat-toolbar>

<div class="wrapper">
  <mat-card class="example-card">
    <!-- video: class="vid" height="455" -->
    <!-- bsp. -->
    <iframe class="vid" height="455" src="https://player.twitch.tv/?channel=esl_csgo" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
    <iframe class="chat" src="https://www.twitch.tv/embed/esl_csgo/chat" frameborder="0" scrolling="no"></iframe>
  </mat-card>
</div>
