<mat-toolbar class="menu-nav">
  <button mat-button routerLink="/info">Info</button>
  <button mat-button class="second" routerLink="/video">Video</button>
  <button mat-button class="second" color="primary">Gallerie</button>
  <button mat-button class="third" routerLink="/blog">Blogs</button>
</mat-toolbar>

<div class="wrapper">
  <mat-card class="gallery-card">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let post of images">
        <img [src]="post" alt="image" (click)="openDialog(post)">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
