.menu-nav {
  justify-content: space-between;
}

.image {
  max-width: 20%;
  max-height: 20%;
  margin-left: 15px;
  float: right;
}

.list-item {
  height: initial !important;
}

.list-item .mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.info-card {
  margin-top: 1%;
}

mat-divider {
  margin-top: 20px;
}
