<mat-toolbar class="menu-nav">
  <button mat-button color="primary">Info</button>
  <button mat-button class="second" routerLink="/video">Video</button>
  <button mat-button class="second" routerLink="/gallery">Gallerie</button>
  <button mat-button class="third" routerLink="/blog">Blogs</button>
</mat-toolbar>

<div class="wrapper">
  <mat-card class="info-card">
    <h1>Projekt "Driftlon" - Wir lassen einen Wetterballon steigen!</h1>
    <mat-list>
      <h2>Idee</h2>
      <mat-list-item class="list-item">
        <p mat-line>
          Das Projekt ist unser gemeinsames Abschlussprojekt im Basislehrjahr.<br>
          Die Herausforderung wird sein, den Wetterballon fliegen zu lassen und die dazu notwendigen Aufgaben
          erfolgreich
          zu bewältigen.<br>
          Das Ziel dahinter ist, ein Projekt gemeinsam vom Anfang bis zum Schluss zu erarbeiten. Dazu gehört:
          <br><br>
          - Planen <br>
          - Ziele setzen <br>
          - Organisieren <br>
          - Vorbereiten <br>
          - Teamwork <br>
          - Motivation <br>
          - Umsetzen <br>
          - Testen <br>
          - etc. <br><br>
          Das Hauptziel ist es, den Wetterballon fliegen zu lassen, Messdaten zu sammeln (Temperatur, Luftfeuchtigkeit,
          aktuelle Höhe, etc),
          den Wetterballon nach dem Flug (wieder) zu finden, die Daten auszuwerten und auf dieser Webseite zusammen mit
          einem Video des Fluges zu
          veröffentlichen.
        </p>
        <img class="image" src="assets/projektidee.png">
      </mat-list-item>
      <mat-divider></mat-divider>
      <br>
      <h2>Planung</h2>
      <mat-list-item class="list-item">
        <p mat-line>
          Zu Beginn haben wir erst mal die verschiedenen Rollen und Verantwortlichkeiten geklärt und dann schon bald die
          ersten Tasks verteilt.<br>
          Die Rollen wurden immer an zwei Personen vergeben: ein Hauptverantwortlicher und ein Stellverterter.
          <br><br>
          - Projektleiter (Carolina & Björn) <br>
          - Materialverantwortlicher (Björn & Fynn) <br>
          - Datenverwaltung (David & Jennifer) <br>
          - Applikation Manager (Timon & Raffaele) <br>
          - Gesetzverantwortung (Jennifer & Fynn) <br>
          - Zeitmanager (Carolina & David) <br><br>
          Gut zusammen zu arbeiten um ans Ziel zu gelangen ist für uns
          einer der wichtigsten Punkte neben dem Ziel, den Ballon fliegen zu lassen.
        </p>
        <img class="image" src="assets/planung.jpeg">
      </mat-list-item>
      <mat-divider></mat-divider>
      <br>
      <h2>Umsetzung</h2>
      <mat-list-item class="list-item">
        <p mat-line>
          Damit die Planung auch gut umgesetzt wird, braucht es Motivation und Engagement und noch die Helfer Horst und
          Urs.<br>
          Wir werden uns möglichst gut an die Planung halten und Schritt für Schritt vorgehen, damit am Schluss alles
          sauber funktioniert.
        </p>
        <img class="image" src="assets/umsetzung.jpeg">
      </mat-list-item>
      <mat-divider></mat-divider>
      <br>
      <h2>Flug</h2>
      <mat-list-item class="list-item">
        <p mat-line>
          Für den Flug haben wir eine Webseite zur Hilfe, die wir benutzen können, um zu sehen wie weit und in welche
          Richtung der Ballon fliegen
          und wo er etwa landen wird: '<a href="http://predict.habhub.org/">http://predict.habhub.org/</a>'<br>
          Dazu ist auch noch wichtig, die Zonen zu beachten, in denen wir den Ballon fliegen lassen dürfen; denn das ist
          nicht überall erlaubt (z.B. in Nähe eines Flughafens).<br><br>

          <strong>Gesetzliche Grundlagen</strong><br>
          Grundsätzlich können Ballone mit weniger als 30 m3 Inhalt ohne Bewilligung des BAZL steigen gelassen werden.
          Von
          diesem allgemeinen Grundsatz gibt es hingegen auch einige Ausnahmen.
          Die folgenden Links geben Auskunft:<br>
          <a href="https://www.bazl.admin.ch/bazl/de/home/gutzuwissen/ballone--kinderballone-und-freiballone-.html">Ballone
            (Kinderballone und Freiballone)</a><br>
          <a href="https://www.skyguide.ch/de/services/spezialfluege/">Spezialflüge</a><br>
          <a
            href="https://map.geo.admin.ch/?topic=aviation&bgLayer=ch.swisstopo.pixelkarte-grau&layers=ch.bazl.luftfahrthindernis,ch.bafu.schutzgebiete-aulav_jagdbanngebiete,ch.bafu.bundesinventare-jagdbanngebiete,ch.bazl.einschraenkungen-drohnen,ch.bazl.flugplaetze-heliports,ch.bazl.gebirgslandeplaetze,ch.bazl.luftfahrtkarten-icao,ch.bazl.segelflugkarte&zoom=1.3968083657885715&layers_visibility=false,false,false,true,false,false,false,false&layers_opacity=1,0.75,0.75,0.6,1,1,1,1&lang=de&E=2633848.98&N=1196546.99&catalogNodes=1379">Karte</a><br>

        </p>
        <img class="image" src="assets/flug.jpg">
      </mat-list-item>
      <mat-divider></mat-divider>
      <br>
      <h2>Landung</h2>
      <mat-list-item class="list-item">
        <p mat-line>
          Wir haben geplant eine Gruppe los zu schicken, die den Wetterballon einsammeln soll. Und eine andere Gruppe
          bleibt als Unterstützung im Büro (Zentrale).<br>
          Wir hoffen sehr, dass der Ballon an einem Ort landet, der einfach zugänglich ist!
        </p>
        <img class="image" src="assets/landung.JPG">
      </mat-list-item>
      <mat-divider></mat-divider>
      <h2>Fazit</h2>
      <mat-list-item class="list-item">
        <p mat-line>
          Das Projekt ist für uns eine kleine Herausforderung und eine Chance zu sehen, wie wir im Team
          zusammenarbeiten.
          Es hilft uns dabei,
          unsere Fähigkeiten im Team zu erkennen und diese anzuwenden. <br>
          Somit werden wir sicher viel lernen und Spass haben während des Projekts.
        </p>
        <img class="image" src="assets/fazit.JPG">
      </mat-list-item>
      <mat-divider></mat-divider>
      <br>
      <h2>Projekt-Mitglieder</h2>
      <mat-list-item class="list-item">
        <p mat-line>
          - Bucher Fynn <br>
          - Burkard Björn <br>
          - Cicvarova Jennifer <br>
          - Gataric David <br>
          - Sanchez Carolina <br>
          - Schmid Timon <br>
          - Visco Raffaele
        </p>
        <img class="image" src="assets/mitglieder.jpeg">
      </mat-list-item>
      <mat-divider></mat-divider>
      <br>
      <h2>"Auftraggeber"</h2>
      <mat-list-item class="list-item">
        <p mat-line>
          - Horst Lang <br>
          - Urs Nussbaumer
        </p>
        <img class="image" src="assets/arbeitsgeber.JPG">
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card>
</div>
