.second {
  position: absolute;
  left: 50%;
}

.third {
  position: absolute;
  right: 2%;
}

.blog-card {
  margin-top: 1%;
}

.blog-item {
  word-wrap: break-word;
  margin-bottom: 20px;
}

.blog-img {
  max-width: 150px;
  max-height: 150px;
  display: inline-block;
}

.date {
  display: block;
}

mat-spinner {
  margin: 0 auto;
}
