.menu-nav {
  justify-content: space-between;
}

.blog-card {
  margin-top: 1%;
}

.blog-item {
  word-wrap: break-word;
  margin-bottom: 20px;
}

.blog-img {
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
}

.date {
  display: block;
}

mat-spinner {
  margin: 0 auto;
}
