<mat-toolbar class="menu-nav">
  <button mat-button routerLink="/info">Info</button>
  <button mat-button class="second" routerLink="/video">Video</button>
  <button mat-button class="third" color="primary">Blogs</button>
</mat-toolbar>

<div class="wrapper">
  <mat-card class="blog-card">
    <h3>Driftlon-BLJ-Projekt</h3>

    <mat-spinner *ngIf="showSpinner" [diameter]="50"></mat-spinner>

    <div *ngFor="let post of blogList | async | reverse" class="blog-item">
      <h4>{{post.titel}}</h4>
      <img [src]="post.picture" class="blog-img" (click)="openDialog(post.picture)">
      <p>{{post.text}}<br></p>
      <p class="date">Erfasst am: {{post.datum}}</p>
    </div>
  </mat-card>
</div>


